a:hover {
    color: black;
    text-decoration: none;
}

a.white-text:hover {
    color:black;
    font-weight: bold;
    
}

section.scrolling-menu {
    overflow: auto;
    white-space: nowrap;
}

a.white-link{
    color: white;
    font-size: 20px;
    text-align: center;
}

.navbar-brand{
    color:black!important;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    line-height: 50px;
}
h2.h2-logo{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

btn-info {
    color: #fff;
    background: linear-gradient(90deg, rgba(2,2,158,1) 34%, rgba(45,46,252,1) 77%, rgba(97,98,252,1) 100%)!important;
    border-color: rgba(255,255,255,.15);
}
a.white-text{
    color:black;
    
}
p.white-text{
    color:white;
}
.black:hover {
    background: black!important;
    
  }
.black-background{
    background: black!important; 
}
 p.font-blue{
     color: blue;
 }
 .white-font-team{
     color:white;
 }
  a.white-font:hover{
    color: white;
    text-decoration: none;
  }
.well{
    margin-bottom:-20px; 
    border:0px; 
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,78,255,1) 100%);
}

.about-para{
    margin-bottom:-20px; background: rgb(116,104,252);
background: linear-gradient(87deg, rgba(116,104,252,1) 16%, rgba(189,190,254,1) 49%, rgba(237,238,254,1) 100%);
}


div.bck-color{
    height:90px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: lightblue;

}
footer{
    background: rgb(2,2,158);
    background: linear-gradient(90deg, rgba(2,2,158,1) 34%, rgba(45,46,252,1) 77%, rgba(97,98,252,1) 100%); 
}
div.bck-color{
    background-color:white;
    
}
h6.red-footer{
    color:black;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a{
    color:blue;
}

nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}


ul.errorlist.nonfield li{
    color:black;
}
.navbar-inverse {
    background: rgb(2,7,140);
background: linear-gradient(90deg, rgba(2,7,140,1) 25%, rgba(16,26,205,1) 60%, rgba(80,83,252,1) 100%);
    border-color: white;
    border-radius:0;
}

h6.get-connected{
    color:white;
}
#id_credit_card_num{
    display:block;
    font-size: x-large;
}

#id_expiry_year{
    display:block;
    font-size: x-large;
}

#id_expiry_month{
    display:block;
    font-size: x-large;
}
#id_price{
    display:block;
    font-size: x-large;
}
#id_cvv{
    display:block;
    font-size: x-large;
}
 #id_email_or_username{
    display:block;
    font-size: x-large;
}
#id_password{
    display:block;
    font-size: x-large;
}
#id_username{
    display:block;
    font-size: x-large;
}
#id_email{
    display:block;
    font-size: x-large;
}
#id_password1{
    display:block;
    font-size: x-large;
}
#id_password2{
    display:block;
    font-size: x-large;
    
}
.scrolling-menu {
 
    overflow: auto;
    white-space: nowrap;
  }
li.nav-item.circle {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 50%;
    margin:5px;
  }
  div.channel-blue-bck{
    background: rgb(33,33,33);
background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(94,94,94,1) 35%, rgba(166,167,167,1) 100%);
  }

h1.login-h1{

font-size:30px;
}
p.yellow.glyphicon.glyphicon-envelope{
    color: yellow;
}
p.yellow.glyphicon.glyphicon-user{
    color: yellow;
}

p.yellow.glyphicon.glyphicon-time{
    color: yellow;
}

p.yellow.glyphicon.glyphicon-comment{
    color: yellow;
}

.btn-lg {
    
    border-radius: 0px;
}
.white-font{
    color:blue;
}
.navbar {
    position: relative;
    height:150px;
    margin-bottom: 20px;
    border: 0px; 
}
.white-font-footer{
    color:white;
}
h6{
    color:black;
}
p.white-font-footer{
    color:white!important;
}
.btn-danger{
  width:160px;
  background-color:black;
  border-color: black;
}
.btn-primary{
  width:160px;
  background-color: blue;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
    background-color: white!important;
}
h1{
  color:white;
  font-size:50px;
  text-shadow: 2px 2px black;
  margin-top:10%;
}
.new-h2{
  color:black;
  font-size:30px;
  text-shadow: 2px 2px #c6c4c4;
}


button.submit-button{
    width:70px; 
    height:40px;
}
.intro-paragraph{
  color:white;
  font-size:20px;
  text-shadow: 2px 2px black;
  
}
p.wise-story{
    text-align: center;
}
span.wise-story-heading{
    font-weight: 700;
    font-size: medium;
}
h2{
  color:white;
}
body {
    height: 100%;
  }

  
div.introduction{
height:700px;
background-size: 100%;
width:100%;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: blue;
}
.navbar-inverse .navbar-nav>li>a {
    color: blue;
    background-color: white;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
   border-color: rgba(255,255,255,.15);
}

div.signup-blk-background{
    height: 200px;
    margin-top:-200px;
    background: rgb(5,5,5);
background: linear-gradient(90deg, rgba(5,5,5,1) 48%, rgba(46,46,46,1) 85%, rgba(84,84,84,1) 100%);
}
p.white-text{
    color:white;
}
@media only screen and (max-width: 500px) {

div.hide-in-smallscreen{
    visibility: hidden;
}
}

a.image-shadow{
    border-radius: 50%;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 12%, rgba(14,14,194,1) 55%, rgba(155,192,254,1) 100%);
}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: blue;
}
}

.column-icons {
    float: left;
    width: 10%;
    padding: 8px;
    z-index: -1;
    margin:10px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(8,1,128);
background: linear-gradient(90deg, rgba(8,1,128,1) 12%, rgba(14,14,194,1) 55%, rgba(155,192,254,1) 100%);
  }
  .column-icons-2 {
    float: left;
    width: 10%;
    padding: 8px;
    margin:10px;
    
  }
  

  p.channel-font{
      color:white;
      text-align: center;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column-icons {
        width: 100px;
      border-radius: 50%;
      background: rgb(8,1,128);
background: linear-gradient(90deg, rgba(8,1,128,1) 12%, rgba(14,14,194,1) 55%, rgba(155,192,254,1) 100%);
    }
  }

  @media screen and (max-width: 500px) {
    .mobile-row {
        margin-left: 5px!important;
    }
  }

.get-started-para{
    color:white;
}


  .messages-container{
    -webkit-box-shadow: 0px 17px 32px 13px rgba(59,64,115,1);
    -moz-box-shadow: 0px 17px 32px 13px rgba(59,64,115,1);
    box-shadow: 0px 17px 32px 13px rgba(59,64,115,1);
  }

  p.white-font-team{
      font-size: large;
  }

  p.yellow-font{
      color: yellow;
  }

  button.login-button{
  background-color:blue; 
  color:white; 
  width:80px; 
  height:35px; 
  border-color:blue;
   border-radius: 3px;
  }