{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
 
 <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
          <p style="color:red">Channel Name<br> <span style="color:black">{{channel.channel_Name}}</span></p>
         <br>
          <p style="color:red">Channel Description<br><span style="color:black">{{channel.channel_Description}}</span></p>
          <br>
           <p style="color:red">Username<br><span style="color:black">{{channel.username_channel}}</span></p>
        </div>
        <div class="col-md-4">
          
        </div>
    </div>
 
</div>



{% endblock %}