{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<div ng-app="myApp" ng-controller="myCtrl">
 <div  style=" height:100px; " >
  <div style="height:25px;"></div>
  <section class="section center scrolling-menu">
  <p style="margin-left:25px;" class="white-text"><a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[1]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[2]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[3]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[4]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[5]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[6]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[7]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[8]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[9]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[10]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[11]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[12]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[13]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[14]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[15]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[16]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[17]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[18]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[19]}}</a>
  </p>
  </section>
 </div> 
  


<div class="row" style=" display : flex;
  align-items : center;justify-content: center;">
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('add_message') }}">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('info') }}">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
  </div>
  
</div>



 <div class="container messages-container">
  
  <h2>Channel</h2>
  <br><br>
  <div class="list-group">
  <div ng-show="showMe">
  <p class="font-blue">Channel</p>
  
    {{channel_Name[1]}}
    
    <br><br>
    <p class="font-blue">Channel Description</p>
    {{channel_Description[1]}}
    <br><br>
    <p class="font-blue">User who created this channel</p>
    {{username_channel[1]}}
  
</div>
  </div>
</div>
<br><br>
 
</div> 



{% endblock %}