{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<h1 style="color:black; text-shadow:2px 2px white;">Information</h1>

   <div class="well text-center" style="">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-md-6">
        <div style="height:70px;"></div>
        <h2>Information Links</h2>
        <div style="height:50px; "></div>
            <p class="get-started-para"> 
            Getting started: <a href="{{ url_for('getting_started') }}" class="white-font-footer"><span style="color:yellow;">Here:</span></a> 
            <br><br>Our Team : <a href="{{ url_for('team') }}" class="white-font-footer"><span style="color:yellow;">Here:</span></a>
            <br><br>Sign Up: <a href="{{ url_for('register') }}"><span style="color:yellow;">Here:</span> </a></li>
            <br></p>
        <div style="height:50px; "></div>
        </div>
        <div class="col-md-6 ">
         <img src="static/img/man-coffee-cup-pen.jpg"  style="height:400px; width:100%;" alt="ccs_logo">
        </div>
        </div>
    </div>
</div>
</div>

{% endblock %}