{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<div ng-app="myApp" ng-controller="myCtrl">
 
  
  <div class="">
    <a href="#" ng-click="myFunc()" class=""><div style="width:100%" class="image-shadow"><p class="">{{channel_Name}}</p></div></a>
  </div>
<div class="row" style=" display : flex;
  align-items : center;justify-content: center;">
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('add_message') }}">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('info') }}">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
  </div>
  
</div>



 <div class="container messages-container">
  
  <h2>Messages</h2>
  <p>Below is a list of messages to browse</p>
  <div ng-show="showMe">
  <div class="list-group">
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">Date/Time</p> <p><span>{{date_added}}</span></p><span style="width:50px;"></span><p style="color:red;">Username</p> <p><span>{{username}}</span></p><span style="width:50px;"></span><p style="color:red;">Description</p> <p><span>{{message_Description}}</span></p></a>
    
  </div>
</div>
</div>
<br><br>
 
 



{% endblock %}