{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
 
 
 <div class="container " style="height:600px;display: block;justify-content: center;align-items: center;">
<p style="color:red;">Date/Time</p> <p><span>{{message.date_added}}</span></p>
<br><br>
<p style="color:red;">Username</p> <p><span>{{message.username}}</span></p>
<br><br>
<p style="color:red;">Description</p> <p><span>{{message.message_Description}}<span></p>

</div>


{% endblock %}