{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
 
 
 
 <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
           <p style="color:red;">Date/Time <br><span style="color:black">{{message.date_added}}</span></p>
<br><br>
<p style="color:red;">Username<br> <p><span style="color:black">{{message.username}}</span></p>
<br><br>
<p style="color:red;">Description<br> <span style="color:black">{{message.message_Description}}<span></p>

        </div>
        <div class="col-md-4">
           
        </div>
    </div>
 




{% endblock %}