{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<div ng-app="myApp" ng-controller="myCtrl">
 <div  style=" height:100px; " >
  <div style="height:25px;"></div>
  <p style="margin-left:25px;" class="white-text"><a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[1]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[2]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[3]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[4]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[5]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[6]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[7]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[8]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[9]}}</a>
                        <a href="#" ng-click="myFunc()" class="white-text btn btn-info btn-md">{{channel_Name[10]}}</a>
  </p>
 </div> 
  
<div class="row" style=" display : flex;
  align-items : center;justify-content: center;">
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="#">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('add_message') }}">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
  </div>
  <div class="column-icons-2">
    <a href="{{ url_for('info') }}">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
  </div>
  
</div>



 <div class="container messages-container">
  
  <h2>Messages</h2>
  <p>Below is a list of messages to browse</p>
  <div ng-show="showMe">
  <div class="list-group">
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[0]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[0]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[0]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[1]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[1]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[1]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[2]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[2]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[2]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[3]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[3]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[3]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[4]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[4]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[4]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[5]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[5]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[5]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[6]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[6]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[6]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[7]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[7]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[7]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[8]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[8]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[8]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[9]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[9]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[9]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[10]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[10]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[10]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[11]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[11]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[11]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[12]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[12]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[12]}}</p></a>
    <a href="{{ url_for('message') }}" class="list-group-item "><p style="color:red;">{{date_added[13]}}</p><span style="width:50px;"></span><p style="color:blue;">{{username[13]}}</p><span style="width:50px;"></span><p style="color:black;">{{message_Description[13]}}</p></a>
  </div>
</div>
</div>
<br><br>
 
 



{% endblock %}