{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<h1 style="color:black; text-shadow:2px 2px white;">Our Mission</h1>

   <div class="about-para text-center" style=" ">
    <div class="col-md-12"></div>
    <div class="row" style="padding:5px;">
        <div class="col-md-6">
        <div style="height:70px;"></div>
        <h2>What we stand for and believe</h2>
        <div style="height:50px; "></div>
            <p>Starting a business is a huge task and can be overwhelming, that is why we encourage you to reach out to other successful CEO's and entreprenuers for guidance and advice.
            <br><br>The Entreprenuers starting out are venturing into the unknown and by asking your peers who have made it to the top you can navigate through the murky waters who you encounter a problem in your business starting out.
            <br>If you are a successful entreprenuer who is willing to offer advice or just a startup who needs some guidance then we believe this app is made for you</p>
        </div>
        <div class="col-md-6">
            <img src="static/img/mission-team.jpeg"  style="height: 580px; width:100%; margin-bottom: 20px;" alt="ccs_logo">
        </div>
    </div>
</div>
</div>

{% endblock %}