{% extends "base.html" %}



{% block content %} 




    <style>
    .well.well-padding{
    margin-bottom: 20px;
    }
  </style>

<body style="background-color:black;">

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color:black;">Your Profile</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active" style="color:black;"><a href="#section1">{{session.username}}</a></li>
        <li ><a href="#section2" class="profile-headings" style="color:white;">Channels you follow</a></li>
        <li ><a href="#section3" class="profile-headings" style="color:white;">Message Inbox</a></li>
        <li ><a href="#section3" class="profile-headings" style="color:white;">Comments you sent</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well well-padding">
        <h4 class="white-text">{{session.username}}</h4>
        <p class="yellow-text">Some text..</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well well-padding">
            <h4 class="white-text">Users</h4>
            <p class="yellow-text">1 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well well-padding">
            <h4 class="white-text">Pages</h4>
            <p class="yellow-text">100 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well well-padding">
            <h4 class="white-text">Sessions</h4>
            <p class="yellow-text">10 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well well-padding">
            <h4 class="white-text">Bounce</h4>
            <p class="yellow-text">30%</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well well-padding">
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well well-padding">
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well well-padding">
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
            <p class="yellow-text">Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well well-padding">
            <p class="yellow-text">Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well well-padding">
            <p class="yellow-text">Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}