{% extends "base.html" %}

{% block header %}
  <h1 style=" color: white;">{% block title %}Messaging App{% endblock %}</h1>
{% endblock %}

{% block content %} 
<h1 style="color:black; text-shadow:2px 2px white;">About Us</h1>

   <div class="about-para text-center black-background" style=" ">
    <div class="col-md-12"></div>
    <div style="height:50px;"></div>
    <div class="row">
        <div class="col-md-6">
        <p class="white-font-team">Denise McGuire</p>
        <br>
        <p class="white-font-team yellow-font">Co-Founder</p>
        <img src="static/img/team1.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
        <div class="col-md-6">
        <p class="white-font-team">Jenny O'Shea</p>
        <br>
        <p class="white-font-team yellow-font">Co-Founder</p>
            <img src="static/img/team2.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
    </div>
    <br>
    <div style="height:50px;"></div>
    <div class="row">
        <div class="col-md-6">
        <p class="white-font-team">Maria Connell</p>
        <br>
        <p class="white-font-team yellow-font">Head of Marketing</p>
        <img src="static/img/team3.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
        <div class="col-md-6">
        <p class="white-font-team">James Sherwood</p>
        <br>
        <p class="white-font-team yellow-font">Business Development</p>
            <img src="static/img/team4.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
    </div>
    <br>
    <div style="height:50px;"></div>
    <div class="row">
        <div class="col-md-6">
        <p class="white-font-team">Thomas Regan</p>
        <br>
        <p class="white-font-team yellow-font">Head of Communications</p>
        <img src="static/img/team5.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
        <div class="col-md-6">
        <p class="white-font-team">Vanessa Blake</p>
        <br>
        <p class="white-font-team yellow-font">Head of Sales</p>
            <img src="static/img/team6.jpeg"  style="height: 400px; width:350px; margin-bottom: 20px;" alt="ccs_logo">
        </div>
    </div>
</div>
</div>

{% endblock %}